/.metadata/
/.recommenders/
/.vscode/
**/macss/services/*
cx-utils/.sts4-cache/classpath-data.json
cx-outage-alerts/.sts4-cache/classpath-data.json
**/.project
/.settings/
cx-billing-alerts/.settings/com.amazonaws.eclipse.lambda.project.json
cx-billing-alerts/.settings/com.amazonaws.eclipse.lambda.project.json
*.txt
target/aepcx-alerts-build-outage-1.0-shaded.pom
target/aepcx-alerts-build-outage-1.0-shaded.pom
target/aepcx-alerts-build-outage-1.0-shaded.pom
**/bin/
