<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.amazonaws.services.lambda.runtime.log4j2">
  <Appenders>
	<Console name="Console" target="SYSTEM_OUT">
		<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
	</Console>
	
    <Lambda name="Lambda">
      <PatternLayout>
          <pattern>%d{yyyy-MM-dd HH:mm:ss} %X{AWSRequestId} %-5p %c{1}:%L - %m%n</pattern>
      </PatternLayout>
    </Lambda>
  </Appenders>
  
  <Loggers>
    <Root level="all">
    <!--
      <AppenderRef ref="Lambda" />
    -->
      <AppenderRef ref="Console" />
    </Root>
    <logger name="com.aep.cx.outage.alerts"  level="ERROR"><AppenderRef ref="Console"/></logger>
  </Loggers>
  
</Configuration> 